
<div class="container">
    <div class="image-container">
      <img [src]="imageUrl"/>
    </div>
    <div  class ="hotel-detail">
     <div class="hotel-header">
          <h3 [textContent]="header"></h3>
      </div>
      <div class ="hotel-discription">
          <p [textContent]="discription"></p>
      </div >
      <div class= "hotel-footer">
      
        <button mat-raised-button color="primary">ADDED</button>
       <!-- <button class="added"><strong>Added</strong> </button> -->
    </div>

</div>
