<div class="hotelCartContainer">
    <div class="hotelcartcontainer-header">
     <div class = "Containerheader">
     <span ><strong id="noOfHotelsSearched">{{numberOfHotels}}</strong></span><span ><strong>Hotel found in your search</strong></span> <label id="filtertext"><strong>FILTER</strong></label>
    </div>
      <div style="overflow:hidden">
     <div class="cityheader">
         
            <button mat-stroked-button>Pune</button>
            <button mat-stroked-button>Mumbai</button>
            <button mat-stroked-button>Delhi</button>
            <button mat-stroked-button>Banglore</button>
            <button mat-stroked-button>Pune</button>
            <button mat-stroked-button>Mumbai</button>
            <button mat-stroked-button>Delhi</button>
            <button mat-stroked-button>Banglore</button>
            
            <button mat-stroked-button>Pune</button>
            <button mat-stroked-button>Mumbai</button>
            <button mat-stroked-button>Delhi</button>
            <button mat-stroked-button>Banglore</button>
            <button mat-stroked-button>Pune</button>
            <button mat-stroked-button>Mumbai</button>
            <button mat-stroked-button>Delhi</button>
            <button mat-stroked-button>Banglore</button>
            
            <button mat-stroked-button>Pune</button>
            <button mat-stroked-button>Mumbai</button>
            <button mat-stroked-button>Delhi</button>
            <button mat-stroked-button>Banglore</button>
            <button mat-stroked-button>Pune</button>
            <button mat-stroked-button>Mumbai</button>
            <button mat-stroked-button>Delhi</button>
            <button mat-stroked-button>Banglore</button>
            <!-- <button mat-stroked-button>Banglore</button> -->
       
     </div>
    </div>
    </div>
    <div class="hotelcartcontentcontainer">
     <div class="abcd">
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
    <app-HotelCart></app-HotelCart>
</div>
    </div>
</div>